# Optional: Notion Token is used to fetch documents from Notion by Claude Code custom mcp
NOTION_TOKEN=
# Optional: Notion Token is used to add documents to Notion by Claude Code custom mcp
NOTION_TOKEN_DOC=
